body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Align content horizontally */
  align-items: center; /* Align content vertically */
}

#container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
}

#searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#searchInput {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #555;
  color: #fff;
}

#searchButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #0069d9;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #777;
}

/* Interactive/Live Updating Background */
@keyframes changeBackground {
  0% {
    background-color: #333;
  }
  50% {
    background-color: #222;
  }
  100% {
    background-color: #333;
  }
}


body {
  animation: changeBackground 10s infinite;
}

/* Shooting Star-like Animations */
#stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 80%;
  animation: shootingStar linear infinite;
}

@keyframes shootingStar {
  0% {
    opacity: 0;
    transform: scale(0) translate(0, 0);
  }
  10% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(0) translate(var(--trans-x), var(--trans-y));
  }
}
body{
	margin: 0;
	padding: 0;
	font-family: "montserrat",sans-serif;
	background: url(https://res.cloudinary.com/drcrre4xg/image/upload/v1571101012/bg_v0tw74.png) no-repeat;
	background-size: cover;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}

.middle h1{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 900;
	color: #2c3e5036;
	background-image: url(https://res.cloudinary.com/drcrre4xg/image/upload/v1571101002/water_zvupjx.png);
	-webkit-background-clip:text;
	animation: water 15s infinite;
}
@keyframes water {
	from{
		background-position: left 0 top 0;
	}
	to{
		background-position: left 1000px top 0;
	}
}
